@using LordsOfScotland.Core.Models;

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/Accueil.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <main>
        <h1>Lords of Scotland</h1>
        @{
            
            Joueur j = (Joueur)Session["joueur"];            
            if (j != null)
            {
                <p>j.Nom</p>
            }
        }

        <section>
            <img src="../Content/img/matthieu.jpg" alt="Indigène bourru" />
            @RenderBody()

            <img src="../Content/img/boite.jpg" alt="Boîte du jeu" />
        </section>
    </main>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
