@model IEnumerable<LordsOfScotland.Core.Models.Salon>

@{
    ViewBag.Title = "AfficheSalons";
}

<article>
    <h2>Salons existants</h2>

    @*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th></th>
        </tr>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nom)
                    </td>
                    <td>
                        @Html.ActionLink("Entrer", "EntreDansSalon", new { id = item.Id })
                    </td>
                </tr>
            }
        }

    </table>*@
    <ul>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <li>                    
                     @Html.ActionLink(item.Nom, "EntreDansSalon", new { id = item.Id })                    
                </li>
            }
        }
    </ul>
    
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <h2>Entrez le nom du nouveau salon</h2>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.Label("nomSalon", "Nom: ")
        @Html.TextBox("nomSalon", (string)ViewBag.NomSalon, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessage("nomSalon", "", new { @class = "text-danger" })

        <input type="submit" value="Créer salon" />
    }
    <p class="erreur">@ViewBag.Erreur</p>
</article>
